{% extends 'geral/base.html' %}
{% load static %}
{% block titulo %} {{ psicologo }} {% endblock %}

{% block body_classes %}bg-body-tertiary overflow-x-hidden{% endblock body_classes %}

{% block conteudo %}

    <form id="PsicologoChangeForm" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <h1>Editar Disponibilidade</h1>
        <p class="text-body-secondary">Atualize sua disponibilidade semanal para consultas.</p>
        
        <div class="py-2 d-none d-lg-block"></div>

        <div class="my-5">
            {{ form }}
        </div>

        <button type="submit" class="w-100 btn text-white btn-primary">
            Salvar alterações
        </button>
    </form>

    <link rel="stylesheet" href="{% static 'css/meu_perfil.css' %}">
{% endblock %}
