{% extends 'geral/base.html' %}
{% load static %}
{% block titulo %} {{ psicologo }} {% endblock %}

{% block conteudo %}
{% if not psicologo.esta_com_perfil_completo %}
    <div class="alert alert-warning d-flex align-items-center" role="alert">
        <i class="bi bi-exclamation-triangle-fill me-3"></i>
        Você ainda não completou o seu perfil. Complete-o para que os pacientes possam agendar consultas com você.
    </div>
{% endif %}
<form id="PsicologoChangeForm" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    {{ form }}
</form>

<!-- ADICIONE ESTA LINHA -->
<link rel="stylesheet" href="{% static 'css/perfil.css' %}">

<link rel="stylesheet" href="{% static 'css/multicombobox.css' %}">
<script defer src="{% static 'js/multicombobox.js' %}"></script>
{% endblock %}
