{% load static %}

{% with u=request.user %}

    <div class="nav-link p-0 pe-2" style="color: inherit;">
        {% if u.is_paciente %}
            {{ u.paciente.nome }}
        {% elif u.is_psicologo %}
            {{ u.psicologo.primeiro_nome }}
        {% else %}
            {{ u.email }}
        {% endif %}
    </div>

    <img
        class="rounded-circle"
        style="width: 2em; height: 2em;"
        alt="Foto de perfil"

        {% if u.is_paciente and u.paciente.foto %}
            src="{{ u.paciente.get_url_foto_propria_ou_padrao }}"
        {% elif u.is_psicologo and u.psicologo.foto %}
            src="{{ u.psicologo.get_url_foto_propria_ou_padrao }}"
        {% else %}
            src="{% static 'img/foto_de_perfil.jpg' %}"
        {% endif %}
    >

{% endwith %}
