<!doctype html>
<html lang="pt-br">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{% block titulo %} EasyTalk {% endblock %}</title>

    <!-- CSS Customizado -->
    <link rel="stylesheet" href="{% static 'css/main.css' %}">

    <!-- Bootstrap -->
    <script defer src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.5/dist/js/bootstrap.bundle.min.js" integrity="sha384-k6d4wzSIapyDyv1kpU366/PK5hCdSbCRGRCMv+eplOQJWyd1fbcAu9OCUj5zNLiq" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
</head>

<body class="min-vh-100 vstack">
    {% block cabecalho %}
        {% include 'componentes/cabecalho.html' %}
    {% endblock %}

    <div {% block atributos_div_conteudo %} class="container-xxl px-3 px-md-5 py-4 py-md-5 vstack gap-4" {% endblock %}>
        {% block conteudo %}{% endblock %}
    </div>

    {% block rodape %}
        {% include 'componentes/rodape.html' %}
    {% endblock %}
</body>

</html>