<nav class="navbar navbar-expand-md bg-body fixed-top" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand font-family-easy-talk-logo" href="#">EasyTalk</a>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
            data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
            aria-label="Toggle navigation">
            {% load static %}
            {% comment %} <span class="navbar-toggler-icon"></span> {% endcomment %}
            Usuário
            <img src="{% static 'img/foto_de_perfil.jpg' %}" class="rounded-circle" style="width: 1.5em; height: 1.5em;">
            {% comment %} <div class="navbar-toggler-icon" style="--bs-navbar-toggler-icon-bg: null;">
                <img src="{% static 'img/foto_de_perfil.jpg' %}" class="z-3 rounded-circle">
            </div> {% endcomment %}
        </button>

        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarSupportedContent"
            aria-labelledby="navbarSupportedContentLabel">
            <div class="offcanvas-header">
                <a class="offcanvas-title navbar-brand font-family-easy-talk-logo" href="#">EasyTalk</a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav my-2 justify-content-end flex-grow-1 align-items-md-center">
                    {% if False %} {# Esse if será mudado para checar se o usuário está logado #}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-md-4" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a type="button"
                                class="btn btn-primary text-white me-md-3 mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="#">Acesso para profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-secondary text-white mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="#">Acesso para pacientes</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Minhas consultas</a>
                        </li>
                        <div class="d-none d-md-block m-0 mx-md-2 vr text-primary opacity-100"></div>
                    {% endif %}
                </ul>
            </div>
        </div>
    </div>
</nav>