{# Esse if será mudado para checar se o usuário está logado #}
<header class="navbar {% if True %}navbar-expand-md{% else %}navbar-expand-sm{% endif %} bg-body fixed-top" data-bs-theme="dark">
    <div class="container-fluid">

        <a class="navbar-brand font-family-easytalk-logo" href="#">EasyTalk</a>
        
        <div class="offcanvas offcanvas-end" tabindex="-1" id="navbarSupportedContent"
            aria-labelledby="navbarSupportedContentLabel">
            <div class="offcanvas-header">
                <a class="offcanvas-title navbar-brand font-family-easytalk-logo" href="#">EasyTalk</a>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav my-2 justify-content-end flex-grow-1
                {% if True %}align-items-md-center{% else %}align-items-sm-center{% endif %}">
                    {% if True %} {# Esse if será mudado para checar se o usuário está logado #}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Sobre</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link me-md-4" href="#">FAQ</a>
                        </li>
                        <li class="nav-item">
                            <a type="button"
                                class="btn btn-primary text-white me-md-3 mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="#">Acesso para profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a type="button" class="btn btn-secondary text-white mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="#">Acesso para pacientes</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link" href="#">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="#">Minhas consultas</a>
                        </li>
                        <div class="d-none d-sm-block m-0 mx-sm-2 vr text-primary opacity-100"></div>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if True %} {# Esse if será mudado para checar se o usuário está logado #}
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% else %}
            <div class="navbar-nav">
                <div class="nav-item hstack d-sm-none" role="button" data-bs-toggle="offcanvas" data-bs-target="#navbarSupportedContent">
                    {% include 'componentes/cabecalho/usuario.html' %}
                </div>

                <div class="nav-item hstack d-none d-sm-flex">
                    {% include 'componentes/cabecalho/usuario.html' %}
                </div>
            </div>
        {% endif %}
    </div>
</header>