<footer class="navbar navbar-expand bg-dark">
    <div class="container-fluid justify-content-between align-items-center">
        <ul class="navbar-nav flex-column flex-sm-row">
            <li class="nav-item">
                <a class="nav-link" href="#">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Sobre</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Profissionais</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">FAQ</a>
            </li>
        </ul>
        <div class="d-flex align-items-md-center flex-column flex-md-row fw-light">
            <span class="navbar-text ms-0 ms-sm-4 me-1">contato@easytalk.com.br</span>
            <span class="navbar-text ms-0 ms-sm-4">Se você estiver em situação de perigo ou crise, ligue para o <a class="link-warning" href="https://cvv.org.br/">Centro de Valorização da Vida</a> (188).</span>
        </div>
    </div>
</footer>