{% extends 'geral/base.html' %}
{% block titulo %} Minhas consultas {% endblock %}

{% block conteudo %}
<h4 class="fw-bold">Minhas consultas</h4>

<div class="row gap-5 align-items-start m-0">
    <div class="flex-grow-1 col-auto card text-bg-primary text-white border border-primary-subtle shadow" style="max-width: 18rem;">
        <form method="get">
            {{ form }}
        </form>
    </div>

    <main class="col p-0">
        {% include 'minhas_consultas/componentes/tabela_historico.html' %}
    </main>
</div>
{% endblock %}