<div class="card-body">
    <h5 class="card-title mb-3">Filtros</h5>

    <div class="vstack gap-3">
        {{ form.estado }}

        {{ form.psicologo }}

        <div class="input-group">
            <span class="input-group-text text-bg-secondary border-0 text-white">De</span>
            {{ form.data_inicial }}
        </div>

        <div class="input-group">
            <span class="input-group-text text-bg-secondary border-0 text-white">Até</span>
            {{ form.data_final }}
        </div>

        <button type="submit" class="btn text-white btn-secondary">Filtrar</button>
    </div>
</div>