<div class="table-responsive shadow-sm rounded-3 border">
    <table class="table table-borderless text-center mb-0">
        {% comment %} <colgroup>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
        </colgroup> {% endcomment %}
        {% comment %} <thead class="table-primary">
            <tr>
                <th class="text-white border-0" scope="col">
                    {% if request.user.is_paciente %}
                        Profissional
                    {% elif request.user.is_psicologo %}
                        Paciente
                    {% endif %}
                </th>
                <th class="text-white border-0" scope="col">Estado</th>
                <th class="text-white border-0" scope="col">Data e horário</th>
                <th class="text-white border-0" scope="col">Ação</th>
            </tr>
        </thead> {% endcomment %}
        <tbody class="text-nowrap">
            {% for consulta in consultas %}
                <tr class="{% if not forloop.last %}border-bottom{% endif %}">
                    <td class="text-start">
                        <div class="hstack gap-2">
                            <img class="rounded-circle"
                            style="width: 2.5em; height: 2.5em;"
                            src="
                                {% if request.user.is_paciente %}
                                    {{ consulta.psicologo.get_url_foto_propria_ou_padrao }}
                                {% elif request.user.is_psicologo %}
                                    {{ consulta.paciente.get_url_foto_propria_ou_padrao }}
                                {% endif %}
                            "
                            alt="Foto de perfil">

                            <span class="ms-2 text-wrap">
                                {% if request.user.is_paciente %}
                                    {{ consulta.psicologo }}
                                {% elif request.user.is_psicologo %}
                                    {{ consulta.paciente }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <span class="badge rounded-pill text-bg-{{ consulta.classe }}">
                            {{ consulta.get_estado_display }}
                        </span>
                    </td>
                    <td>{{ consulta.data_hora_agendada|date:"d/m/Y" }} às {{ consulta.data_hora_agendada|time }}</td>

                    <td class="align-middle">
                      <div class="d-flex justify-content-end align-items-center" style="height:100%">
                        {% if request.user.is_paciente and consulta.estado != 'CANCELADA' and consulta.estado != 'FINALIZADA' %}
                            <form method="post"
                                  action="{% url 'consulta_cancelar' consulta.pk %}"
                                  class="d-inline m-0"
                                  onsubmit="return confirm('Confirma cancelar esta consulta?');">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                            </form>

                        {% elif request.user.is_psicologo and consulta.estado == 'SOLICITADA' %}
                            <form method="post"
                                  action="{% url 'consulta_aceitar' consulta.pk %}"
                                  class="d-inline m-0 me-2"
                                  onsubmit="return confirm('Confirma aceitar esta consulta?');">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <button type="submit" class="btn btn-success btn-sm">Aceitar</button>
                            </form>

                            <form method="post"
                                  action="{% url 'consulta_cancelar' consulta.pk %}"
                                  class="d-inline m-0"
                                  onsubmit="return confirm('Confirma cancelar esta consulta?');">
                                {% csrf_token %}
                                <input type="hidden" name="next" value="{{ request.get_full_path }}">
                                <button type="submit" class="btn btn-danger btn-sm">Cancelar</button>
                            </form>
                        {% endif %}
                      </div>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>