<div class="table-responsive shadow-sm rounded-3 border">
    <table class="table table-borderless text-center mb-0">
        {% comment %} <colgroup>
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
            <col style="width: 25%;">
        </colgroup> {% endcomment %}
        {% comment %} <thead class="table-primary">
            <tr>
                <th class="text-white border-0" scope="col">
                    {% if request.user.is_paciente %}
                        Profissional
                    {% elif request.user.is_psicologo %}
                        Paciente
                    {% endif %}
                </th>
                <th class="text-white border-0" scope="col">Estado</th>
                <th class="text-white border-0" scope="col">Data e horário</th>
                <th class="text-white border-0" scope="col">Ação</th>
            </tr>
        </thead> {% endcomment %}
        <tbody class="text-nowrap">
            {% for consulta in consultas %}
                <tr class="{% if not forloop.last %}border-bottom{% endif %}">
                    <td class="text-start">
                        <div class="hstack gap-2">
                            <img class="rounded-circle"
                            style="width: 2.5em; height: 2.5em;"
                            src="
                                {% if request.user.is_paciente %}
                                    {{ consulta.psicologo.get_url_foto_propria_ou_padrao }}
                                {% elif request.user.is_psicologo %}
                                    {{ consulta.paciente.get_url_foto_propria_ou_padrao }}
                                {% endif %}
                            "
                            alt="Foto de perfil">

                            <span class="ms-2 text-wrap">
                                {% if request.user.is_paciente %}
                                    {{ consulta.psicologo }}
                                {% elif request.user.is_psicologo %}
                                    {{ consulta.paciente }}
                                {% endif %}
                            </span>
                        </div>
                    </td>
                    <td>
                        <span class="badge rounded-pill text-bg-{{ consulta.classe }}">
                            {{ consulta.get_estado_display }}
                        </span>
                    </td>
                    <td>{{ consulta.data_hora_marcada|date:"d/m/Y" }} às {{ consulta.data_hora_marcada|time }}</td>
                    <td>
                        {% if usuario.is_psicologo and consulta.get_estado_display == "Solicitada" %}
                            <button class="btn btn-success btn-sm text-white" onclick="naoImplementado()">Aceitar</button>
                            <button class="btn btn-danger btn-sm text-white" onclick="naoImplementado()">Recusar</button>
                        {% else %}
                            <small>(Em construção)</small>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script>
    function naoImplementado() {
        alert("Essa funcionalidade ainda não foi implementada. Por enquanto, está aqui só para mostrar como será.");
    }
</script>