<header id="cabecalho"
class="navbar {% if request.user.is_anonymous %} navbar-expand-md {% else %} navbar-expand-sm {% endif %} text-bg-dark fixed-top">
    <div class="container-fluid">

        <a class="navbar-brand font-family-easytalk-logo" href="{% url 'home' %}">EasyTalk</a>
        
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="navbarCabecalho"
            aria-labelledby="navbarCabecalhoLabel">
            <div class="offcanvas-header">
                <a class="offcanvas-title navbar-brand font-family-easytalk-logo" href="{% url 'pesquisa' %}">EasyTalk</a>
                <i class="bi bi-x fs-2 ms-auto" role="button" data-bs-dismiss="offcanvas" aria-label="Fechar"></i>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav my-2 justify-content-end flex-grow-1
                {% if request.user.is_anonymous %} align-items-md-center {% else %} align-items-sm-center {% endif %}">
                    {% if request.user.is_anonymous %}
                        {% include 'geral/nav_items_compartilhados.html' %}
                        <li class="nav-item">
                            <a type="button" class="btn text-white btn-secondary me-md-3 mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="{% url 'login' %}">Entrar</a>
                        </li>
                        <li class="nav-item">
                            <a type="button"
                                class="btn text-white btn-primary mt-3 mt-md-0 w-100 w-md-auto rounded-3"
                                href="{% url 'cadastro_escolha' %}">Cadastrar-se</a>
                        </li>
                    {% else %}
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'pesquisa' %}">Profissionais</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-nowrap" href="{% url 'minhas_consultas' %}">Minhas consultas</a>
                        </li>
                        {% if request.user.is_psicologo %}
                            <li class="nav-item">
                                <a class="nav-link text-nowrap" href="{% url 'meu_perfil' %}">Meu perfil</a>
                            </li>
                        {% endif %}
                        <li class="nav-item">
                            <a class="d-block d-sm-none nav-link text-nowrap text-warning" href="#" onclick="logout()">Encerrar sessão</a>
                        </li>
                        <li class="d-none d-sm-block m-0 mx-sm-2 vr text-primary opacity-100"></li>
                    {% endif %}
                </ul>
            </div>
        </div>
        {% if request.user.is_anonymous %}
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="offcanvas"
                data-bs-target="#navbarCabecalho" aria-controls="navbarCabecalho"
                aria-label="Alternar navegação">
                <span class="navbar-toggler-icon"></span>
            </button>
        {% else %}
            <div class="navbar-nav">
                <div class="nav-item hstack d-sm-none" role="button" data-bs-toggle="offcanvas" data-bs-target="#navbarCabecalho">
                    {% include 'geral/cabecalho/componentes/usuario.html' %}
                </div>

                <div class="nav-item d-none d-sm-block dropdown">
                    <button class="btn btn-dark hstack fw-normal border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false"
                    style="--bs-btn-hover-bg: null; --bs-btn-active-bg: null;
                    --bs-btn-hover-color: var(--bs-secondary); --bs-btn-active-color: var(--bs-secondary);">
                        {% include 'geral/cabecalho/componentes/usuario.html' %}
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end">
                        <li><a class="dropdown-item" href="{% url 'login' %}">Mudar de conta</a></li>
                        <li><a class="dropdown-item" href="#" onclick="logout()">Encerrar sessão</a></li>
                    </ul>
                </div>
            </div>
        {% endif %}
    </div>
</header>


{# Formulário para fazer logout do usuário (é necessário porque a LogoutView do Django só aceita POST) #}
<form id="logout-form" action="{% url 'logout' %}" method="post" class="d-none">
    {% csrf_token %}
</form>

<script>
    function logout() {
        document.getElementById('logout-form').submit();
        return false; // Assegurar que o navegador não siga o href da tag <a>
    }
</script>



{# Espaço para o cabeçalho fixo #}
<div id="cabecalhoEspaco"></div>

<script>
    const cabecalhoEspaco = document.getElementById('cabecalhoEspaco');
    const cabecalho = document.getElementById('cabecalho');

    function setHeightCabecalhoEspaco() {
        cabecalhoEspaco.style.height = `${cabecalho.offsetHeight}px`;
    }

    setHeightCabecalhoEspaco();
    window.addEventListener('resize', setHeightCabecalhoEspaco);
</script>