<!doctype html>
<html lang="pt-br">

{% include 'geral/head.html' %}

<body class="min-vh-100 vstack">
    {% block cabecalho %}
        {% include 'geral/cabecalho/cabecalho.html' %}
    {% endblock %}

    <div id="conteudoContainer"
    {% block div_conteudo_atributos %}{% endblock %}
    class="{% block div_conteudo_classes %} container-xl px-3 px-md-5 py-4 py-md-5 vstack gap-4 {% endblock %}"
    >
        {% block conteudo %}{% endblock %}
    </div>

    {% block rodape %}
        {% include 'geral/rodape.html' %}
    {% endblock %}
</body>

</html>