<footer id="rodape" class="navbar navbar-expand text-bg-dark px-3 px-md-5 py-3">
    <div class="container-fluid align-items-center">
        <div class="w-100 column-gap-5 row-gap-4 d-flex justify-content-between align-items-md-center flex-column flex-md-row fw-light">
            <div>&copy; {% now "Y" %} EasyTalk.<br>contato@easytalk.com.br</div>
            <a href="#" class="text-reset fw-medium">Política de Privacidade</a>
            <div>Se você estiver em situação de perigo ou crise, ligue para o <a class="link-warning fw-medium" href="https://cvv.org.br/">Centro de Valorização da Vida</a> (188).</div>
        </div>
    </div>
</footer>