<div class="table-responsive rounded-3 border border-primary">
    <table class="table table-borderless text-center mb-0 text-nowrap">
        <colgroup>
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
        </colgroup>
        <thead class="table-primary">
            <tr>
                <th class="text-white" scope="col">Domingo</th>
                <th class="text-white" scope="col">Segunda</th>
                <th class="text-white" scope="col">Terça</th>
                <th class="text-white" scope="col">Quarta</th>
                <th class="text-white" scope="col">Quinta</th>
                <th class="text-white" scope="col">Sexta</th>
                <th class="text-white" scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody id="tbodyDisponibilidade">

        </tbody>
    </table>
</div>

<script>

    class DisponibilidadeTabela {
        static disponibilidade = {{ disponibilidade|safe }}
        static tbody = document.getElementById('tbodyDisponibilidade')

        static getIntervalosDoDia(diaSemana) {
            for (const disp of this.disponibilidade)
                if (disp.dia_semana === diaSemana)
                    return disp.intervalos

            return []
        }

        static getNumeroMaximoIntervalos() {
            return Math.max(...this.disponibilidade.map(disp => disp.intervalos.length))
        }

        static getTabelaDisponibilidadeComoMatriz() {
            const numeroMaximoIntervalos = this.getNumeroMaximoIntervalos()
            const matriz = []

            for (let i = 1; i <= 7; i++) {
                const intervalosDoDia = this.getIntervalosDoDia(i)
                const horariosDoDia = []

                for (const intervalo of intervalosDoDia)
                    horariosDoDia.push(`${intervalo.horario_inicio} - ${intervalo.horario_fim}`)

                if (horariosDoDia.length < numeroMaximoIntervalos)
                    for (let j = horariosDoDia.length; j < numeroMaximoIntervalos; j++)
                        horariosDoDia.push("-")

                matriz.push(horariosDoDia)
            }

            // Transpor a matriz
            const qtdColunasTransp = 7
            const qtdLinhasTransp = numeroMaximoIntervalos
            const matrizTransp = []

            for (let i = 0; i < qtdLinhasTransp; i++) {
                matrizTransp[i] = []
                for (let j = 0; j < qtdColunasTransp; j++)
                    matrizTransp[i][j] = matriz[j][i]
            }
            return matrizTransp
        }

        static getTabelaDisponibilidadeComoHtml() {
            if (this.disponibilidade.length === 0)
                return `<tr>` + `<td>-</td>`.repeat(7) + `</tr>`

            const tbodyInnerHtml = this.getTabelaDisponibilidadeComoMatriz()
                .map(linha => `<tr>${linha.map(intervalo => `<td>${intervalo}</td>`).join('')}</tr>`)
                .join('')

            return tbodyInnerHtml
        }

        static atualizar() {
            this.tbody.innerHTML = this.getTabelaDisponibilidadeComoHtml()
        }
    }

    DisponibilidadeTabela.atualizar()

</script>