<div class="table-responsive rounded-3 border border-primary">
    <table class="table table-borderless text-center mb-0 text-nowrap">
        <colgroup>
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
        </colgroup>
        <thead class="table-primary">
            <tr>
                <th class="text-white" scope="col">Domingo</th>
                <th class="text-white" scope="col">Segunda</th>
                <th class="text-white" scope="col">Terça</th>
                <th class="text-white" scope="col">Quarta</th>
                <th class="text-white" scope="col">Quinta</th>
                <th class="text-white" scope="col">Sexta</th>
                <th class="text-white" scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody id="tbodyDisponibilidade">

        </tbody>
    </table>
</div>

<script>
disponibilidade = {{ disponibilidade|safe }}

function getIntervalosDoDia(diaSemana) {
    if (!(1 <= diaSemana <= 7)) {
        throw new Error("O dia da semana deve ser um número entre 1 (domingo) e 7 (sábado).")
    }

    for (disp of disponibilidade)
        if (disp.dia_semana === diaSemana)
            return disp.intervalos

    return []
}

function getNumeroMaximoIntervalos() {
    return Math.max(...disponibilidade.map(disp => disp.intervalos.length))
}

function getTabelaDisponibilidadeComoMatriz() {
    const numeroMaximoIntervalos = getNumeroMaximoIntervalos()
    const matriz = []

    for (let i = 1; i <= 7; i++) {
        const intervalosDoDia = getIntervalosDoDia(i)
        const horariosDoDia = []

        for (const intervalo of intervalosDoDia)
            horariosDoDia.push(`${intervalo.horario_inicio} - ${intervalo.horario_fim}`)

        if (horariosDoDia.length < numeroMaximoIntervalos)
            horariosDoDia.push("-".repeat(numeroMaximoIntervalos - horariosDoDia.length))

        matriz.push(horariosDoDia)
    }

    // Transpor a matriz
    const qtdColunasTransp = 7
    const qtdLinhasTransp = numeroMaximoIntervalos
    const matrizTransp = []

    for (let i = 0; i < qtdLinhasTransp; i++) {
        matrizTransp[i] = []
        for (let j = 0; j < qtdColunasTransp; j++)
            matrizTransp[i][j] = matriz[j][i]
    }

    return matrizTransp
}

function getTabelaDisponibilidadeComoHtml() {
    const tbodyInnerHtml = getTabelaDisponibilidadeComoMatriz()
        .map(linha => `<tr>${linha.map(intervalo => `<td>${intervalo}</td>`).join('')}</tr>`)
        .join('')

    return tbodyInnerHtml
}

document.getElementById('tbodyDisponibilidade').innerHTML = getTabelaDisponibilidadeComoHtml()
</script>