<div class="table-responsive rounded-3 border border-primary">
    <table class="table table-borderless text-center mb-0 text-nowrap">
        <colgroup>
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
        </colgroup>
        <thead class="table-primary">
            <tr>
                <th class="text-white" scope="col">Domingo</th>
                <th class="text-white" scope="col">Segunda</th>
                <th class="text-white" scope="col">Terça</th>
                <th class="text-white" scope="col">Quarta</th>
                <th class="text-white" scope="col">Quinta</th>
                <th class="text-white" scope="col">Sexta</th>
                <th class="text-white" scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody id="tbodyDisponibilidade">

        </tbody>
    </table>
</div>

<script>

    class DisponibilidadeTabela {
        static matriz_disponibilidade_booleanos = JSON.parse('{{ matriz_disponibilidade_booleanos_em_json|escapejs }}')
        static tbody = document.getElementById('tbodyDisponibilidade')

        static getNumeroMaximoIntervalos() {
            let maximo = 0

            for (const dia of this.matriz_disponibilidade_booleanos) {
                let atual = 0

                for (let i = 0; i < dia.length; i++) {
                    if (dia[i]) {
                        atual++
                        i++
                        while (dia[i] && i < dia.length)
                            i++
                    } 
                }

                if (atual > maximo)
                    maximo = atual
            }

            return maximo
        }

        static getTabelaDisponibilidadeComoMatriz() {
            const consultaDuracaoMinutos = {{ CONSULTA_DURACAO_MINUTOS }}
            const quantidadePassos = 60 / consultaDuracaoMinutos

            function getHora(i) {
                const hora = Math.floor(i * consultaDuracaoMinutos / 60)
                return hora.toString().padStart(2, '0')
            }

            function getMinuto(i) {
                const minuto = (i % quantidadePassos * consultaDuracaoMinutos) % 60
                return minuto.toString().padStart(2, '0')
            }

            const numeroMaximoIntervalos = this.getNumeroMaximoIntervalos()
            const matriz = []

            for (const dia of this.matriz_disponibilidade_booleanos) {
                const intervalos = []

                for (let i = 0; i < dia.length; i++) {
                    if (dia[i]) {
                        const horarioInicio = `${getHora(i)}:${getMinuto(i)}`
                        i++

                        while (dia[i] && i < dia.length)
                            i++

                        const horarioFim = `${getHora(i)}:${getMinuto(i)}`
                        intervalos.push(`${horarioInicio} - ${horarioFim}`)
                    } 
                } 

                if (intervalos.length < numeroMaximoIntervalos)
                    for (let j = intervalos.length; j < numeroMaximoIntervalos; j++)
                        intervalos.push("-")

                matriz.push(intervalos)
            }

            // Transpor a matriz
            const qtdColunasTransp = 7
            const qtdLinhasTransp = numeroMaximoIntervalos
            const matrizTransp = []

            for (let i = 0; i < qtdLinhasTransp; i++) {
                matrizTransp[i] = []
                for (let j = 0; j < qtdColunasTransp; j++)
                    matrizTransp[i][j] = matriz[j][i]
            }
            return matrizTransp
        }

        static getTabelaDisponibilidadeComoHtml() {
            if (!this.matriz_disponibilidade_booleanos.some(linha => linha.some(x => x === true)))
                return `<tr>` + `<td>-</td>`.repeat(7) + `</tr>`

            const tbodyInnerHtml = this.getTabelaDisponibilidadeComoMatriz()
                .map(linha => `<tr>${linha.map(intervalo => `<td>${intervalo}</td>`).join('')}</tr>`)
                .join('')

            return tbodyInnerHtml
        }

        static atualizar() {
            this.tbody.innerHTML = this.getTabelaDisponibilidadeComoHtml()
        }
    }
    DisponibilidadeTabela.atualizar();

    window.DisponibilidadeTabela = DisponibilidadeTabela;
</script>