{% extends 'geral/base.html' %}
{% block titulo %} Pesquisa {% endblock %}

{% block conteudo %}
<h4 class="fw-bold">Profissionais</h4>

<section class="card text-bg-primary text-white mb-3 border border-primary-subtle shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Filtros</h5>

        <form method="get">
            {{ form }}
        </form>
    </div>
</section>

<main class="row row-cols-1 row-cols-md-2 g-4">
    {% for psicologo in psicologos %}
        <div class="col">
            {% include 'pesquisa/componentes/card_profissional.html' %}
        </div>
    {% empty %}
        <div class="col">
            Nenhum profissional corresponde à pesquisa.
        </div>
    {% endfor %}
</main>
{% endblock %}