{% extends 'geral/base.html' %}
{% block titulo %} Pesquisa {% endblock %}

{% load static %}

{% block conteudo %}
<h4 class="fw-bold">Profissionais</h4>

<section class="card text-bg-primary mb-3 text-white border border-primary-subtle shadow-sm">
    <div class="card-body">
        <h5 class="card-title mb-3">Filtros</h5>

        <form method="get">
            <div class="row row-cols-1 row-cols-md-2 gy-3">
                <div class="col">
                    <div class="vstack gap-3">
                        {{ form.especializacao }}

                        <select class="form-select" aria-label="Default select example">
                            <option selected>Disponibilidade</option>
                            <option value="1">One</option>
                            <option value="2">Two</option>
                            <option value="3">Three</option>
                        </select>
                    </div>
                </div>
                <div class="col">
                    <div class="vstack gap-3">
                        <div class="hstack gap-3 flex-column flex-sm-row">
                            <div class="input-group">
                                <span class="input-group-text text-bg-secondary border-0 text-white" id="ValorMinimo">R$</span>
<!--                                <input type="number" step="1.00" class="form-control" placeholder="Mínimo" aria-label="Valor mínimo" aria-describedby="ValorMinimo">-->
                                {{ form.valor_minimo.as_widget }}
                            </div>
                            <div class="d-none d-sm-block">até</div>
                            <div class="input-group">
                                <span class="input-group-text text-bg-secondary border-0 text-white" id="ValorMaximo">R$</span>
<!--                                <input type="number" step="1.00" class="form-control" placeholder="Máximo" aria-label="Valor máximo" aria-describedby="ValorMaximo">-->
                                {{ form.valor_maximo.as_widget }}
                            </div>
                        </div>
                        <button class="btn btn-secondary text-white">Pesquisar profissionais</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>

<main class="row row-cols-1 row-cols-md-2 g-4">
    {% for psicologo in psicologos %}
        <div class="col">
            {% include 'pesquisa/componentes/card_profissional.html' %}
        </div>
    {% empty %}
        <div class="col">
                Nenhum profissional corresponde à pesquisa.
        </div>
    {% endfor %}
</main>
{% endblock %}