{% load static %}
<div class="card bg-body-secondary border-0 shadow-sm h-100 position-relative scale-on-hover">
    <div class="card-body vstack gap-4 p-4 justify-content-between">
        <div class="hstack gap-4 flex-column flex-sm-row flex-md-column flex-lg-row">
            <img class="rounded-circle mx-auto object-fit-cover"
            style="width: 5rem; aspect-ratio: 1 / 1;"
            src="{{ psicologo.get_url_foto_propria_ou_padrao }}"
            alt="Foto de perfil">

            <div class="flex-grow-1">
                <h5 class="fw-bold">{{ psicologo.nome_completo }}</h5>
                <div class="d-block text-body-secondary">{{ psicologo.sobre_mim|truncatewords:20 }}</div>
            </div>
        </div>

        <div class="hstack gap-2 flex-wrap">
            {% include "geral/especializacoes.html" %}
        </div>

        <div class="hstack justify-content-between gap-3 flex-wrap">
            <div class="hstack gap-3 flex-wrap flex-grow-1">
                <h6 class="fw-semibold mb-0">R${{ psicologo.valor_consulta }}</h6>
                <div>Disponível em
                    <span class="text-primary fw-medium text-wrap text-nowrap">
                        {% with proxima_data_hora_agendavel=psicologo.proxima_data_hora_agendavel %}
                            {% if proxima_data_hora_agendavel %}
                                {{ proxima_data_hora_agendavel|date:"d/m à\s H:i" }}
                            {% else %}
                                2 meses ou mais
                            {% endif %}
                        {% endwith %}
                    </span>
                </div>
            </div>
        </div>
    </div>

    <a href="{{ psicologo.get_absolute_url }}" class="stretched-link">
        <span class="visually-hidden">Ver perfil</span>
    </a>
</div>
    