<div class="row row-cols-1 row-cols-md-2 gy-3">
    <div class="col">
        <div class="vstack gap-3">
            {{ form.especializacao }}
            
            <div class="input-group">
                <span class="input-group-text text-bg-secondary border-0 text-white">Disponível em</span>
                {{ form.disponibilidade }}
            </div>
        </div>
    </div>
    <div class="col">
        <div class="vstack gap-3">
            <div class="hstack gap-3 flex-column flex-sm-row">
                <div class="input-group">
                    <span class="input-group-text text-bg-secondary border-0 text-white">R$</span>
                    {{ form.valor_minimo }}
                </div>
                <div class="d-none d-sm-block">até</div>
                <div class="input-group">
                    <span class="input-group-text text-bg-secondary border-0 text-white">R$</span>
                    {{ form.valor_maximo }}
                </div>
            </div>
            <button type="submit" class="btn text-white btn-secondary">Pesquisar profissionais</button>
        </div>
    </div>
</div>