<div class="row row-cols-1 row-cols-md-2 gy-3">
    <div class="col">
        <div class="vstack gap-3">
            {{ form.especializacao }}

            <select class="form-select" aria-label="Default select example">
                <option selected>Disponibilidade</option>
                <option value="1">One</option>
                <option value="2">Two</option>
                <option value="3">Three</option>
            </select>
        </div>
    </div>
    <div class="col">
        <div class="vstack gap-3">
            <div class="hstack gap-3 flex-column flex-sm-row">
                <div class="input-group">
                    <span class="input-group-text text-bg-secondary border-0 text-white">R$</span>
                    {{ form.valor_minimo }}
                </div>
                <div class="d-none d-sm-block">até</div>
                <div class="input-group">
                    <span class="input-group-text text-bg-secondary border-0 text-white">R$</span>
                    {{ form.valor_maximo }}
                </div>
            </div>
            <button type="submit" class="btn text-white btn-secondary">Pesquisar profissionais</button>
        </div>
    </div>
</div>