<div class="table-responsive rounded-3 border border-primary">
    <table class="table table-borderless text-center mb-0 text-nowrap">
        <thead class="table-primary">
            <tr>
                <th class="text-white" scope="col">Domingo</th>
                <th class="text-white" scope="col">Segunda</th>
                <th class="text-white" scope="col">Terça</th>
                <th class="text-white" scope="col">Quarta</th>
                <th class="text-white" scope="col">Quinta</th>
                <th class="text-white" scope="col">Sexta</th>
                <th class="text-white" scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>-</td>
                <td>08:00 - 12:00</td>
                <td>08:00 - 12:00</td>
                <td>08:00 - 12:00</td>
                <td>08:00 - 12:00</td>
                <td>08:00 - 12:00</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>
                <td>13:00 - 15:00</td>
                <td>13:00 - 15:00</td>
                <td>13:00 - 15:00</td>
                <td>13:00 - 15:00</td>
                <td>13:00 - 15:00</td>
                <td>-</td>
            </tr>
            <tr>
                <td>-</td>  
                <td>-</td>
                <td>-</td>
                <td>17:00 - 19:00</td>
                <td>-</td>
                <td>-</td>
                <td>-</td>
            </tr>
        </tbody>
    </table>
</div>