<style>
    .grade-intervalos {
        display: grid;
        grid-template-columns: repeat({{ NUMERO_PERIODOS_POR_DIA|add:"1" }}, 1fr);
    }

    .grade-intervalos > *[data-grade] {
        cursor: pointer;
        min-height: 1rem;
    }

    .prevent-select {
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
    }
</style>

<div draggable="false" class="grade-intervalos mt-5">
    {% for _ in "1234567" %}
        <div draggable="false" class="text-end font-monospace me-3">
            {% if forloop.counter|divisibleby:"7" %}
                Sáb
            {% elif forloop.counter|divisibleby:"6" %}
                Sex
            {% elif forloop.counter|divisibleby:"5" %}
                Qui
            {% elif forloop.counter|divisibleby:"4" %}
                Qua
            {% elif forloop.counter|divisibleby:"3" %}
                Ter
            {% elif forloop.counter|divisibleby:"2" %}
                Seg
            {% else %}
                Dom
            {% endif %}
        </div>

        {% for _ in numero_periodos_por_dia_range %}
            <div
                data-grade
                data-selecionado="{% if forloop.counter|divisibleby:'4' %}true{% else %}false{% endif %}"
                data-linha="{{ forloop.parentloop.counter0 }}"
                data-coluna="{{ forloop.counter0 }}"
                class="position-relative border-bottom border-primary
                    {% if forloop.parentloop.first %}
                        border-top
                    {% endif %}

                    {% if forloop.first %}
                        border-start
                    {% endif %}

                    border-end
                "
            >
                {% if forloop.parentloop.first %}
                    <div draggable="false" class="font-monospace position-absolute translate-middle" style="top: -100%; cursor: default;">
                        {{ forloop.counter0 }}h
                    </div>

                    {% if forloop.last %}
                        <div draggable="false" class="font-monospace position-absolute translate-middle start-100" style="top: -100%; cursor: default;">
                            {{ forloop.counter }}h
                        </div>
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    {% endfor %}
</div>
<div class="d-flex justify-content-end gap-3">
    <a type="button" class="link-primary" onclick="DisponibilidadeWidget.limparGrade()">Limpar grade</a>
    <a type="button" class="link-primary" onclick="DisponibilidadeWidget.redefinir()">Redefinir</a>
</div>

{% include "django/forms/widgets/input.html" with widget=widget %}

<div class="text-body-secondary">Sua tabela de disponibilidade ficará assim:</div>
{% include "geral/tabela_disponibilidade.html" with matriz_disponibilidade_booleanos_em_json=widget.value %}

<script>
    class DisponibilidadeWidget {
        static widget = document.querySelector('input[name="{{ widget.name }}"]')
        static celulas = document.querySelectorAll('[data-grade]')
        static classesNaoSelecionado = ["bg-body-secondary"]
        static classesSelecionado = ["bg-secondary"]
        static matriz_disponibilidade_booleanos_atual = JSON.parse("{{ widget.value }}")
        static matriz_disponibilidade_booleanos_original = JSON.parse("{{ widget.value }}")

        static atualizarItemPelaMatriz(item) {
            const linha = Number(item.dataset.linha)
            const coluna = Number(item.dataset.coluna)

            if (this.matriz_disponibilidade_booleanos_atual[linha][coluna])
                this.selecionar(item)
            else
                this.tirar(item)
        }

        static atualizarMatrizPeloItem(item) {
            const linha = Number(item.dataset.linha)
            const coluna = Number(item.dataset.coluna)
            this.matriz_disponibilidade_booleanos_atual[linha][coluna] = item.dataset.selecionado === "true" ? true : false
        }

        static selecionar(item) {
            item.dataset.selecionado = "true"
            this.classesNaoSelecionado.forEach(classe => item.classList.remove(classe))
            this.classesSelecionado.forEach(classe => item.classList.add(classe))
        }

        static tirar(item) {
            item.dataset.selecionado = "false"
            this.classesSelecionado.forEach(classe => item.classList.remove(classe))
            this.classesNaoSelecionado.forEach(classe => item.classList.add(classe))
        }

        static selecionarOuTirar(item) {
            if (item.dataset.selecionado === "false")
                this.selecionar(item)
            else
                this.tirar(item)

            this.atualizarMatrizPeloItem(item)
            this.atualizarInputETabela()
        }

        static atualizarInputETabela() {
            this.widget.value = JSON.stringify(this.matriz_disponibilidade_booleanos_atual)
            DisponibilidadeTabela.matriz_disponibilidade_booleanos = this.matriz_disponibilidade_booleanos_atual
            DisponibilidadeTabela.atualizar()
        }

        static limparGrade() {
            this.celulas.forEach(item => {
                this.tirar(item)
                this.atualizarMatrizPeloItem(item)
            })

            this.atualizarInputETabela()
        }

        static redefinir() {
            this.matriz_disponibilidade_booleanos_atual = this.matriz_disponibilidade_booleanos_original.map(linha => [...linha])
            this.celulas.forEach(item => this.atualizarItemPelaMatriz(item))
            this.atualizarInputETabela()
        }

        static lidarComEvento(e, item) {
            if (e.buttons === 1) // Checar se o botão esquerdo do mouse está clicado
                this.selecionarOuTirar(item)
        }

        static preparar() {
            document.querySelectorAll('[draggable="false"]').forEach(item => {
                item.classList.add('prevent-select')

                // Prevenir que elementos sejam arrastados quando o usuário estiver arrastando o mouse na grade
                item.addEventListener('dragstart', e => e.preventDefault())
            })

            this.celulas.forEach(item => {
                this.atualizarItemPelaMatriz(item)
                item.addEventListener('mouseover', e => this.lidarComEvento(e, item))
                item.addEventListener('mousedown', e => this.lidarComEvento(e, item))
            })

            this.widget.value = JSON.stringify(this.matriz_disponibilidade_booleanos_original)
        }
    }

    DisponibilidadeWidget.preparar()

</script>