<main class="vstack gap-5">
    <div class="hstack gap-4">
        <img class="rounded-circle mx-auto"
        style="width: 7.5rem; height: 7.5rem;"
        src="{{ form.instance.get_url_foto_propria_ou_padrao }}"
        alt="Foto de perfil">
        
        <div class="flex-grow-1">
            <h4 class="fw-bold">{{ form.instance.nome_completo }}</h4>
            <hr class="border border-primary opacity-100">

            <div class="hstack gap-5">
                <div>
                    <h6 class="text-body-secondary">CRP</h6>
                    <h6 class="fw-semibold">{{ form.instance.crp }}</h6>
                </div>
            </div>
        </div>
    </div>

    <div class="d-flex flex-column flex-lg-row gap-4">
        <div class="vstack gap-4">
            <div class="vstack gap-2">
                <h6>Alterar foto</h6>
                {{ form.foto }}
                {{ form.foto.errors }}
            </div>

            <div class="vstack gap-2">
                <h6>Valor da consulta</h6>
                {{ form.valor_consulta }}
                {{ form.valor_consulta.errors }}
            </div>
        </div>

        <div class="vstack gap-2">
            <h6>Especializações</h6>
            <div class="text-body-secondary">Segure CTRL para selecionar múltiplas.</div>
            {{ form.especializacoes }}
            {{ form.especializacoes.errors }}
        </div>

        <div class="vstack gap-2">
            <h6>Sobre mim</h6>
            {{ form.sobre_mim }}
            {{ form.sobre_mim.errors }}
        </div>
    </div>

    <div class="vstack gap-2">
        <h6>Disponibilidade</h6>
        <div class="text-body-secondary">
            Preencha a grade de acordo com sua agenda.<br>
            Segure e arraste o mouse para preencher várias células de uma vez.
        </div>
        {{ form.disponibilidade }} {{ form.disponibilidade.errors }}

    </div>

    {% comment %} <div class="vstack gap-2">
        <h6>Sobre minhas especializações</h6>
        {% include 'perfil/componentes/sobre_minhas_especializacoes.html' %}
    </div> {% endcomment %}

    <button type="submit" class="btn text-white btn-primary">Salvar alterações</button>
</main>