{% extends 'componentes/base.html' %}
{% load static %}
{% block titulo %} Consulta {% endblock %}

{# Excluir cabeçalho e rodapé #}
{% block cabecalho %}{% endblock %}
{% block rodape %}{% endblock %}

{% block conteudo %}
<div class="container-fluid px-0 bg-body d-flex flex-column flex-sm-row" data-bs-theme="light">
    <main class="vstack vh-100 p-3">

        <section class="rounded-3 consulta-camera-desligada-bg position-relative h-100 overflow-hidden">
            <img class="rounded-circle position-absolute top-50 start-50 translate-middle"
            style="width: 6em; height: 6em;"
            src="{% static 'img/foto_de_perfil.jpg' %}"
            alt="Foto de perfil">

            <div class="bg-body bg-opacity-50 rounded-bottom-right-3 rounded-bottom-right-md-0 rounded-top-right-md-3 position-absolute bottom-md-0 start-md-0 px-3 py-1">
                <h6 class="text-center text-body fw-medium mb-0">Jéssica</h6>
            </div>

            <div class="d-block d-lg-none position-absolute bottom-0 end-0 p-2">
                {% include 'componentes/consulta/frame_menor.html' with width_px='200' %}
            </div>
        </section>

        <section class="hstack justify-content-end align-items-end gap-2 gap-md-3 mx-3 position-relative"
        style="height: 55px;">
            <div class="text-body mb-2 position-absolute bottom-0 start-0 d-none d-md-block">09:43</div>
            
            <button class="btn btn-primary rounded-circle position-relative" style="width: 2.5em; aspect-ratio: 1;">
                <i class="bi bi-mic-fill text-white position-absolute start-50 top-50 translate-middle"></i>
            </button>
            <button class="btn btn-danger rounded-circle position-relative" style="width: 2.5em; aspect-ratio: 1;">
                <i class="bi bi-camera-video-fill text-white position-absolute start-50 top-50 translate-middle"></i>
            </button>
            <button class="btn btn-danger rounded-circle position-relative"
            style="width: 2.5em; aspect-ratio: 1; transform: rotate(135deg);">
                <i class="bi bi-telephone-fill text-white position-absolute start-50 top-50 translate-middle"></i>
            </button>
            {% comment %} <button class="btn position-relative" style="width: 2.5em; aspect-ratio: 1;"
            data-bs-toggle="collapse" data-bs-target="#chatConsulta"
            aria-expanded="false" aria-controls="chatConsulta">
                <i class="bi bi-chat-right-text text-body position-absolute start-50 top-50 translate-middle"></i>
            </button> {% endcomment %}
            <button class="btn position-relative" style="width: 2.5em; aspect-ratio: 1;"
            data-bs-toggle="offcanvas" data-bs-target="#chatConsultaOffcanvas"
            aria-controls="chatConsultaOffcanvas">
                <i class="bi bi-chat-right-text text-body position-absolute start-50 top-50 translate-middle"></i>
            </button>

            <div class="d-none d-lg-block">
                {% include 'componentes/consulta/frame_menor.html' with width_px='250' %}
            </div>
        </section>
    </main>

    {% comment %} <aside class="collapse collapse-horizontal d-none d-sm-block" id="chatConsulta">
        <div class="vh-100 bg-body-secondary text-body-secondary consulta-chat-tamanho vstack gap-3 py-3">
            <header class="text-body hstack justify-content-between px-3">
                <h6 class="mb-0">Chat da consulta</h6>
                <i class="bi bi-x fs-4" role="button" data-bs-toggle="collapse" data-bs-target="#chatConsulta"></i>
            </header>
            <main class="vstack small gap-3 overflow-y-auto px-3">
                {% for i in '1234' %}
                    {% include 'componentes/consulta/mensagem.html' %}
                {% endfor %}
            </main>
            <form action="" class="hstack mx-3">
                <input class="form-control rounded-pill" placeholder="Digite..." aria-label="Digitar">
                <i class="bi bi-send-fill text-primary px-2" role="button" type="submit"></i>
            </form>
        </div>
    </aside> {% endcomment %}

    <aside class="offcanvas-sm offcanvas-bottom vh-100"
    tabindex="-1" id="chatConsultaOffcanvas" aria-labelledby="chatConsultaOffcanvasLabel">
        <div class="bg-body-secondary text-body-secondary consulta-chat-tamanho vstack gap-3 py-3">
            <header class="text-body hstack justify-content-between px-3">
                <h6 class="mb-0">Chat da consulta</h6>
                <i class="bi bi-x fs-4" role="button" data-bs-toggle="offcanvas" data-bs-target="#chatConsultaOffcanvas"></i>
            </header>
            <main class="vstack small gap-3 overflow-y-auto px-3">
                {% for i in '1234' %}
                    {% include 'componentes/consulta/mensagem.html' %}
                {% endfor %}
            </main>
            <form action="" class="hstack mx-3">
                <input class="form-control rounded-pill" placeholder="Digite..." aria-label="Digitar">
                <i class="bi bi-send-fill text-primary px-2" role="button" type="submit"></i>
            </form>
        </div>
    </aside>

</div>
{% endblock %}