{% extends 'geral/base.html' %}

{% load static %}

{% block div_conteudo_atributos %} class="container-fluid hstack justify-content-center flex-grow-1 p-5" {% endblock %}

{% block conteudo %}
<form novalidate method="post" style="max-width: 20rem;" class="vstack gap-2 justify-content-center">
    {% csrf_token %}

    <h1 class="font-family-easytalk-logo display-1 mb-5 text-center">
        <span class="text-primary">Easy</span>Talk
    </h1>
    <h3>{% block heading_form %}{% endblock %}</h3>

    {% block inlineformset %}{% endblock %}
    {% block form %}{{ form }}{% endblock %}

    <button class="btn text-white btn-primary {% block classes_adicionais_submit %}{% endblock %}" type="submit">{% block texto_submit %}{% endblock %}</button>

    <div class="mt-3">
        {% include 'conta/componentes/fluxos_alternativos.html' %}
    </div>
</form>

{% endblock %}