{% extends 'geral/base.html' %}
{% load static %}

{% block cabecalho %}{% endblock %}

{% block div_conteudo_classes %} container-fluid p-0 overflow-y-hidden {% endblock %}

{% block conteudo %}

    <div class="row g-0 vh-100">
        <div class="col d-none d-md-block">
            <img class="w-100 h-100 object-fit-cover" src="{% static "img/videochamada_login_h.jpg" %}" alt="">
        </div>

        <div class="col-12 col-md-6 col-lg-4 acesso-form-wrapper d-flex align-items-center p-5 overflow-y-auto" style="max-height: 100vh;">
            <div class="w-100 d-flex flex-column gap-2 justify-content-center text-center">
                
                <h1 class="font-family-easytalk-logo display-1 mb-5 text-center">
                    <span class="text-primary">Easy</span>Talk
                </h1>
                
                <h3 class="mb-4">Muitas tentativas</h3>

                <p class="lead">
                    Identificamos um número alto de solicitações recentes.
                </p>
                <p>
                    Para sua segurança e estabilidade do sistema, por favor aguarde alguns instantes antes de tentar novamente.
                </p>
                <p class="text-muted mb-4">
                    Se você estava tentando fazer login, verifique se suas credenciais estão corretas.
                </p>

                <a href="{% url 'home' %}" class="btn text-white btn-primary btn-lg">
                    Voltar para o Início
                </a>

            </div>
        </div>
    </div>

{% endblock %}
