{% extends 'base/main.html' %}
{% load static %}

{% block content %}
    <main class="room-main">
        <section id="room-name-wrapper">
            <p>Room Name: <span id="room-name"></span></p>
        </section>

        <section id="video-streams"></section>

        <section id="controls-wrapper">
            <img class="control-icon" id="camera-btn" src="{% static 'images/video.svg' %}" title="Ligar câmera"/>
            <img class="control-icon" id="mic-btn" src="{% static 'images/microphone.svg' %}" title="Ligar microfone"/>
            <img class="control-icon" id="leave-btn" src="{% static 'images/leave.svg' %}" title="Sair da sala"/>
        </section>
    </main>
{% endblock content %}

{% block extra_scripts %}
    <script type="module" src="{% static 'js/streams.js' %}"></script>
{% endblock extra_scripts %}
