<div class="table-responsive rounded-3 border border-primary">
    <table class="table table-borderless text-center mb-0 text-nowrap">
        <colgroup>
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
            <col style="width: 14.2857%;">
        </colgroup>
        <thead class="table-primary">
            <tr>
                <th class="text-white" scope="col">Domingo</th>
                <th class="text-white" scope="col">Segunda</th>
                <th class="text-white" scope="col">Terça</th>
                <th class="text-white" scope="col">Quarta</th>
                <th class="text-white" scope="col">Quinta</th>
                <th class="text-white" scope="col">Sexta</th>
                <th class="text-white" scope="col">Sábado</th>
            </tr>
        </thead>
        <tbody>
            {{ psicologo.get_tabela_disponibilidade_como_html|safe }}
        </tbody>
    </table>
</div>